<div class="mb-4 hight">
    <div>
        <div class="pt-4">
            <app-star></app-star>
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-4 col-md-6">
                        <div class="rounded-3 overflow-hidden position-relative">
                            <img class="w-100 rounded-3" src="/images/poert1.png" alt="poert1">
                            <div class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-plus text-white fa-plus fa-6x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="rounded-3 overflow-hidden position-relative">
                            <img class="w-100 rounded-3" src="/images/port2.png" alt="poert1">
                            <div class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-plus text-white fa-plus fa-6x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="rounded-3 overflow-hidden position-relative">
                            <img class="w-100 rounded-3" src="/images/port3.png" alt="poert1">
                            <div class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-plus text-white fa-plus fa-6x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="rounded-3 overflow-hidden position-relative">
                            <img class="w-100 rounded-3" src="/images/poert1.png" alt="poert1">
                            <div class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-plus text-white fa-plus fa-6x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="rounded-3 overflow-hidden position-relative">
                            <img class="w-100 rounded-3" src="/images/port2.png" alt="poert1">
                            <div class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-plus text-white fa-plus fa-6x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="rounded-3 overflow-hidden position-relative">
                            <img class="w-100 rounded-3" src="/images/port3.png" alt="poert1">
                            <div class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-plus text-white fa-plus fa-6x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>