/* You can add global styles to this file, and also import other style files */
:root {
    --main-color: #1abc9c;
    --second-color: #2c3e50;
}
.hight{
    margin-top: 84px; min-height: calc(-104px + 100vh);
}